body{
  height: 100vh;
  font-size: 1.5em;
}

input[type="text"]{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}
label, input[type="text"]{
  text-align: center;
}

.form-group{
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}